<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dive Log App</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../">💧</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="..">Home <span class="sr-only">(current)</span></a>
        </li>
        {{#if user}}
        {{!-- <li class="nav-item">
          <a class="nav-link" href="../user/{{id}}">Your Dives</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" href="../dive/new-dive">+New Dive</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="../divesite/all">Dive Sites</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="../divesite/new-dive-site">New Dive Site</a>
        </li> --}}
      </ul>
    </div>

    {{#if user}}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <p class="nav-link m-0">Welcome <a class="navbar-username-link" href="/user/{{user.id}}">{{user.name}}</a></p>
        </li>
        <li class="nav-item">
          <a class="nav-link m-0" href="../user/logout">Sign Out</a>
        </li>
      </ul>
    </div>
    {{else}}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link m-0" href="/user/sign-up">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-0" href="../user/login">Sign In</a>
        </li>
      </ul>
    </div>
    {{/if}}

  </nav>

  <main>
    {{{body}}}
  </main>

  
  <div class="particle-container" id="particles-js"></div>
  <script src="/particles.js"></script>
  <script src="/app.js"></script>
</body>

</html>