<section>
  <div class="container-fluid singleDiveContainer">
    <div class="card diveCard">
      <div class="card-header">
        {{divesite.type}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{divesite.name}}</h5>
        <p class="card-text">{{divesite.description}}</p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="dive-info-label">Location: </span>{{divesite.coordinates}}</li>
          <li class="list-group-item"><span class="dive-info-label">Type: </span>{{divesite.type}}</li>
        </ul>

        {{#if user}}
        <a href="/divesite/{{divesite.id}}/update" class="btn btn-info">Update</a>
        <form action="/divesite/{{divesite.id}}?_method=DELETE" method="post" class="d-inline">
          <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</section>