<section>
  <div class="container-fluid singleDiveContainer">
    <div class="card diveCard">
      <div class="card-header">
        <span class="dive-info-label">Dive number: </span>{{dive.number}}
      </div>
      <div class="card-body">
        <h5 class="card-title"><a href="../divesite/{{divesite.id}}">{{divesite.name}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{prettyDate}}</h6>
        <p class="card-text">{{divesite.description}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="dive-info-label">Visibility: </span>{{dive.visibility}} ft</li>
          <li class="list-group-item"><span class="dive-info-label">Air Temperature: </span>{{dive.airTemp}}ºF</li>
          <li class="list-group-item"><span class="dive-info-label">Water Temperature: </span>{{dive.waterTemp}}ºF</li>
          <li class="list-group-item"><span class="dive-info-label">Weight Used: </span>{{dive.weightUsed}} lbs</li>
          <li class="list-group-item"><span class="dive-info-label">Air Used: </span>{{dive.airUsed}} psi</li>
          <li class="list-group-item"><span class="dive-info-label">Bottom Time: </span>{{dive.bottomTime}} ft</li>
          <li class="list-group-item"><span class="dive-info-label">Notes: </span>{{dive.notes}}</li>
        </ul>

        {{#if user}}
        <a href="/dive/{{dive.id}}/update" class="btn btn-info">Update</a>
        {{/if}}
        <form action="/dive/{{dive.id}}?_method=DELETE" method="post" class="d-inline">
          <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        
      </div>
    </div>
  </div>
</section>